/* common */
html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
}

h1,
h2, 
h3 {
    font-weight: bold; 
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

.line.blue {
    border-color: #2c3e50;
    color: #2c3e50;
}

.fa-star.blue {
    color: #2c3e50;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

/* Header - Nav */
nav {
    padding: 15px 0;
}

.ms_navbar {
    height: 80px;
    background-color: #2c3e50;
}
.ms_navbar .navbar-toggle {
    border: 1px solid white;
}

.ms_navbar .navbar-toggle .icon-bar {
    background-color: white;
}

.ms_navbar a {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.ms_navbar .nav>li>a:focus, 
.ms_navbar .nav>li>a:hover {
    color: #1abc9c;
    background-color: #2c3e50;
}


/* Header - Jumbotron */
.jumbotron {
    background-color: #1abc9c;
    color: white;
    text-align: center;
}

.jumbotron img {
    height: 300px;
}

.star-line{
    padding: 15px 0;
}
.fa-star {
    font-size: 35px;
}

.line {
    width: 15%;
    display: inline-block;
    margin: 0 10px 10px 10px;
    border-radius: 15%;
    border: 2px solid white;
}

/* Main - Portfolio */
#portfolio {
    margin-bottom: 50px;
    text-align: center;
    color: #2c3e50;
}

.porfolio_item {
    margin-bottom: 30px;
}

/* Main - About */
#about {
    padding: 30px 0;
    text-align: center;
    background-color: #1abc9c;
    color: white;
}

.wrapper_60 [class*="col-"] {
    margin-bottom: 15px;
}

.ms_btn {
    background-color: #1abc9c;
    border: 1px solid white;
    transition: all 0.5s;
}
.ms_btn:hover {
    color: #2c3e50;
    background-color: white;
}

/* Main - Contact me */
#contact_me {
    padding: 30px 0;
    color: #2c3e50;
}

.ms_form .form-group {
    margin-bottom: 10px;
}

.ms_form .form-control {
    font-size: 20px;
    padding: 6px 0;
    box-shadow: none;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2c3e50;
}

.ms_send {
    margin-top: 10px;
    color: white;
}
.ms_btn.ms_send:hover {
    background-color: #159a80;
    border: 1px solid #159a80;
}


/* Footer */
footer {
    text-align: center;
    color: white;
}

#footer_info {
    padding: 50px;
    background-color: #3a546d;
}

#footer_info h3 {
    font-size: 20px;
}

#footer_info ul {
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer_info a {
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    padding: 15px 15px;
    font-size: 20px;
}
#footer_info a:hover {
    color: #3a546d;
    background-color: white;
}

#footer_info a i {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.green {
    color: #1abc9c;
}
.green:hover {
    text-decoration: underline;
    color: #159a80;
}


#footer_copyright {
    padding: 20px 0;
    line-height: 35px;
    background-color: #2c3e50;
}

#footer_copyright p {
    font-size: 16px;
}

/* MQ */

@media screen and (max-width: 767px) {
    
    .ms_navbar .navbar-nav{
        background-color: #2c3e50;
    }
    
}

@media screen and (min-width: 768px) {

    h4 {
        font-size: 24px;
    }

    h3 {
        font-size: 36px;
    }

    .ms_navbar .nav>li>a:focus, 
    .ms_navbar .nav>li>a:hover {
        border-radius: 5%;
        color: white;
        background-color: #1abc9c; 
    }

    
    .line {
        margin: 0 20px 10px 20px;
    }
}

@media screen and (min-width: 1200px) {

    .line {
        margin: 0 30px 10px 30px;
    }
}


/* Parte BONUS */
.porfolio_item {
    position: relative;
}

.layover {    
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #1abc9c;
    z-index: 2;
    opacity: 0.8;
    visibility: hidden;
    transition: 0.1s ease;
}

.fa-plus {
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.porfolio_item:hover .layover {
    visibility: visible;
}
